* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif, bold;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: line-through;
}

body {
  background-color: black;
}

p,
figcaption {
  color: #ffffff;
}

li,
ul {
  color: #ffffff;
}

img,
iframe {
  width: 100%;
  vertical-align: middle;
}

.galeria {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.galeria > * {
  /*el "*" es para seleccionar que a todo lo que haya dentro de "galería" se le aplique estas caracteristicas*/
  width: 30%;
}

.galeria > figure {
  position: relative;
}

.galeria > figure > figcaption {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0;
  transition: 0.5s;
}

.galeria > figure > figcaption:hover {
  opacity: 100%;
}

header,
section {
  min-height: 100vh;
  border: #ffffff 3px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  min-height: 100vh;
  padding: 3em 30%;
}

header {
  min-height: calc(100vh - 3rem);
  background-image: url("../img/nuevoedificio.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header > h1 {
  font-size: 9vw;
  text-align: left;
  color: #ffffff;
}

section > h2 {
  font-size: 4rem;
  text-align: left;
  border: #ff0000;
}

section > p {
  border: #ffffff;
}

section > h2,
section > p {
  padding-left: 1rem;
}
/* Maquetación del menú */

#menu {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
  border: #ffffff 3px solid;
}

#menu > ul {
  display: flex;
  justify-content: space-around;
  padding: 0%;
}

#menu > ul > li {
  list-style: none;
  height: 1.2;
  display: flex;
  align-items: center;
  font-weight: bold;
}

#uni > p {
  font-size: 1.2em;
}

/*Media Queries*/

@media screen and (max-width: 1200px) {
  section {
    padding: 3em 10%;
  }

  .galeria > figure {
    width: 45%;
  }
}

@media screen and (max-width: 650px) {
  section > h2 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 450px) {
  .galeria > iframe,
  .galeria > figure {
    width: 100%;
  }

  .galeria > figure > figcaption {
    opacity: 100%;
    position: static;
    height: auto;
    color: #ffffff;
    background-color: transparent;
    font-size: 1em;
    font-weight: normal;
    justify-content: start;
  }
}
